; EditorConfig is awesome: http://EditorConfig.org

root = true

; Ruby style
; UTF-8 charset
; Unix-style newlines with a newline ending every file
; 2 space indent
; Trim trailing whitespace
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

; Markdown
; 4 space indent
[*.md]
indent_size = 4